@using MVCApp.ViewModels
@model IEnumerable<MVCApp.ViewModels.PersonViewModel>

<div class="col-md-12 container-table">
    <div class="col-md-5 row">
        @Html.Partial("Partial/_CreatePersonForm", new PersonCreateViewModel())
    </div>
    <div class="col-md-5 table-responsive row">
        @Html.Partial("Partial/_PersonTable", Model)
        <div class="col-md-3">
            <form action="Person/GetAll" method="get">
                <input type="submit" class="btn btn-primary" value="Download Person Names">
            </form>
        </div>
    </div>
</div>
