@using MVCApp.ViewModels
@model IEnumerable<MVCApp.ViewModels.PersonViewModel>
@{
    Layout = "_PersonLayout.cshtml";
}

<div class="col-md-6">
    @section breadcrumb
    {
        <span class="arrow">Person</span>
    }
</div>
<div class="col-md-12 container-table">
    <div id ="createForm" class="col-md-4 row">
        @Html.Partial("Partial/_CreatePersonForm", new PersonCreateViewModel())
    </div>
    <div class="col-md-8 table-responsive row">
        @Html.Partial("Partial/_PersonTable", Model)
        <div class="col-md-3">
            <form action="Person/GetAll" method="get">
                <input type="submit" class="btn btn-primary" value="Download Person Names">
            </form>
        </div>
    </div>
</div>
