@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
        <div class="row">
            <ol class="breadcrumb brand-primary">
                <li><a href="~/Badge">Badge</a></li>
                @RenderSection("breadcrumb")
            </ol>
        </div>
    @RenderBody()
</div>