@model IEnumerable<MVCApp.ViewModels.BadgeViewModel>

<div class="col-md-12 container-table">
    <div class="col-md-5 row">
        <form id="badge_form" class="form-horizontal col-md-12">
            <div class="form-group">
                <label for="badge_title">Title</label>
                <input id="badge_title" name="title" type="text" class="form-control" placeholder="title of a badge" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input id="description" name="description" type="" class="form-control" placeholder="description of a badge" />
            </div>
            <button type="submit" id="btn_add_badge" class="btn btn-primary">Add</button>
        </form>
    </div>
    <div class="col-md-5 table-responsive row">
        <table id="badge_table" class="table table-striped">
            <tr class="table-header">
                <th>Title</th>
                <th>Description</th>
                <th>Delete</th>
            </tr>
            @foreach (var badge in @Model)
            {
                <tr id="@badge.Id">
                    <td>@badge.Title</td>
                    <td>@badge.Description</td>
                    <td><button name="delete_badge" delete_id="@badge.Id" class="btn btn-link">Delete</button></td>
                </tr>
            }
        </table>
    </div>
</div>
