@using MVCApp.ViewModels
@model IEnumerable<MVCApp.ViewModels.BadgeViewModel>
@{
    Layout = "_BadgeLayout.cshtml";
}

@section breadcrumb
{
}

<div class="col-md-12 container-table">
    <div class="col-md-4">
        @Html.Partial("Add", new BadgeCreateViewModel())
    </div>
    <div id ="badgeList" class="col-md-8 table-responsive row">
        @Html.Partial("Partial/_BadgeTable", Model)
    </div>
    
    @Ajax.ActionLink("Refresh", "Index", new { }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "badgeList", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-default" })
</div>
